* {
    color: black;
  }

.body {
	font-family: "Roboto", "Times New Roman", sans-serif;
	color: #212121;
}

.img {
    display: block;
    object-fit: cover;
}

:root {
  --brand-color: #2196f3;
  --color-secondary: #ffffff;
  --color-third: #757575;
}

.header-mail {
    text-decoration: none;
    width: 58px;
    height: 16px;
    cursor: pointer;
}

.header-phone{
    text-decoration: none;
    width: 58px;
    height: 16px;
    top: 32px;
    left: 55px; 
}

.header-logo {
	text-decoration: none;
}

.header-mail:hover {
    color: var(--brand-color);
}

.header-logo-link {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.nav-list {
    text-decoration: none;
    list-style: none;
}

.header-nav-link:hover {
    color: var(--brand-color)
}

.header-nav-link {
    text-decoration: none;
}

.web-blue-text {
    color: var(--brand-color);
}

/*==END OF HEADER==*/

/*== MAIN ==*/

.button:hover {
  background-color: var(--brand-color);
  color: var(--color-secondary);
}

.specialize-list {
    list-style-type: none;
}

.solution.section {
    align-items: center;
    display: block;
    justify-content: center;
}

.solution-section-container {
    background-color:#2f303a;
}

.button-solution-section{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background-color: var(--brand-color);
    cursor: pointer;
    color: var(--color-secondary);
    display: block;
}

.team-list{
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    line-height: 18, 75px;
    font-weight: 500;
}

.team-section {
    text-align: center;
}

.team-name-description {
    font-size: 16px;
    line-height: 18, 75px;
    color: var(--color-third);
}

.service-header {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
}

.service-description {
	font-size: 14px;
	line-height: 1.71;
	font-weight: 400;
}

.specialize-section-header {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    text-align: center;
}

.service-list {
	display: flex;
    justify-content: center;
    background: var(--color-secondary);
    list-style-type: none;
}

.solution-header {
	background-color: #2f303a;
    color: var(--color-secondary);
    font-size: 44px;
    line-height: 60px;
    font-weight: 900;
    width: 696px;
    top: 280px;
    left: 452px;
    text-decoration: none;
    text-align: center;
}

/*== END OF MAIN ==*/

/*== FOOTER==*/

.footer-address {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--color-secondary);
    font-style: normal;
}

.footer-container {
    background-color:#2f303a;
}

.footer-logo-link {
    color: #ffffff;
    text-decoration: none;
}

.footer-contact {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    line-height: 24px; 
}

/*== END OF FOOTER ==*/

/*== PORTFOLIO==*/

.portfolio-list {
    list-style: none;
}

.portfolio-list-header {
	font-weight: 700;
	font-size: 18px;
}

.portfolio-list-description {
	font-size: 16px;
	color: var(--color-third);
}

.side-button-click {
    cursor: pointer;
    text-decoration: none;
}

.side-button-list {
    list-style: none;
}

/*== END OF PORTFOLIO ==*/